.catalog-page {
  padding: 16px 0px;
}

.catalog-page-title {
  padding: 32px 0px;
}

.catalog-page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  width: 100%;
}
