.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
}

.header-logo {
  font-weight: bold;
  font-size: 25px;
  color: #101010;
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-link {
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
}

.header-link:hover {
  color: #ffa54f;
}
